<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Chrome" verbose="1" parallel="methods" thread-count="1">

    <test name="Test">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="com.avalanche.SeleniumHQTest"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
